<div>
   <div id="box_cart" class="d-none box_tables">
      <div id="content_cart">
         <h3 class="text-center">carrinho do usuario</h3>
         <table class="table table-hover">
            <thead>
               <tr>
                  <th scope="col">Numero Pedido</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Formato</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Qtd</th>
                  <th scope="col">Preço total</th>
               </tr>
            </thead>
            <tbody id="cart_body"></tbody>
         </table>
      </div>
      <div id="msg_cart" class="text-center d-none msg_profile">
         <h4>Nenuhm produto adicionado ao carrinho!</h4>
         <p>pesquise um novo livro e adicionado ao seu carrinho!</p>
         <a href="/products/library" class="btn btn-info">Ir Para Biblioteca</a>
      </div>
   </div>
</div>