<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/adm/index.css">
    <link rel="stylesheet" href="/stylesheets/adm/products/prod.css">
<body>
    <%- include('partials/header.ejs') %> 
    <main class="container">
        <div class="bg-white">
            <div class="content_page_adm">
                <div class="painel_rigth_adm">
                    <%- include('partials/admin/menu') %>
                </div>
                <div class="painel_left_adm">
                    <div class="product_search_content">
                        <div class="text-end p-2">
                            <form id="form_search">
                                <label for="search">Bucar pelo nome de usuário</label>
                                <input type="search" id="valSearch" name="search" placeholder="Buscar...">
                                <div class="text-start border p-2">
                                    <small class="border-bottom"><strong>Outras formas de pesquisa:</strong></small>
                                    <div class="div_check_box">
                                        <div>
                                            <label for="search_for_name">Buscar por nome: </label>
                                            <input type="checkbox" name="user_name" id="user_name" class="checkgroup">
                                        </div>
                                        <div>
                                            <label for="search_for_email">Buscar por email: </label>
                                            <input type="checkbox" name="user_email" id="user_email" class="checkgroup">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="search_result">
                           <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nick</th>
                                        <th>Email</th>
                                        <th>Mais Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody id="result"></tbody>
                           </table>
                           <div id="noDataReturn" class="text-center"></div>
                        </div>
                        <nav aria-label="Navegação de página">
                            <ul class="pagination justify-content-center p-3">
                                <li class="page-item"><button class="page-link me-2" id="previous">Anterior</button></li>
                                <li class="page-item"><button class="page-link" id="next">Próximo</button></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/admin/index.js"></script>
    <script src="/js/admin/user/user_search.js"></script>
</body>
</html>