<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/adm/index.css">
    <link rel="stylesheet" href="/stylesheets/adm/products/prod.css">
<body>
    <%- include('partials/header.ejs') %> 
    <main class="container">
        <div class="bg-white">
            <div class="row">
                <div class="painel_rigth_adm">
                    <%- include('partials/admin/menu') %>
                </div>
                <div class="painel_left_adm">
                    <div id="feedbacks-msg"></div>
                    <form id="myForm">
                        <div class="text-center"><h4>Criar novo produto</h4></div>
                        <div class="form-group">
                            <input type="text" name="title" id="title"  class="form-control" placeholder="Titulo...">
                        </div>
                        <div class="form-group">
                            <input type="text" name="author" id="author" class="form-control" placeholder="Autor...">
                        </div>
                        <div class="form-group">
                            <input type="text" name="publishing_company" id="publishing_company" class="form-control" placeholder="Editora..." >
                        </div>
                        <div class="form-group">
                            <input type="text"  name="dimensions" id="dimensions" class="form-control" placeholder="Dimensões...">
                        </div>
                        <div class="form-group">
                            <input type="number" min="15" name="number_pages" id="number_pages"  class="form-control" placeholder="Quantidade de paginas">
                        </div>
                        <div class="form-group">
                            <input type="date"  name="publication_date" id="publication_date" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" min="1" name="edition" id="edition" class="form-control"  placeholder="edição">
                        </div>
                        <div class="form-group">
                            <select name="language" id="lang" class="form-control">
                                <option value="portugues">Portugês</option>
                                <option value="ingles">ingles</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="synopsis" id="synopsis" class="form-control" cols="50" rows="5" placeholder="Conteúdo da sínopse do livro"></textarea>
                        </div>

                        <div class="form-group">
                            <input type="file" name="front_cover" id="front_cover" class="form-control">
                            <div id="error_front_cover"></div>
                        </div>
                        <div class="form-group">
                            <select name="genre" id="genre" class="form-control">
                                <option disabled>Selecione um Genero</option>
                                <option value="poetry">Poesia</option>
                                <option value="novel">Romance</option>
                                <option value="cousebook">Didaticos </option>
                                <option value="storybook">Infantil </option>
                                <option value="terror">Terror</option>
                                <option value="fiction">Ficção</option>
                                <option value="finance">Finanças</option>
                                <option value="action">Ação</option>
                                <option value="fantasy">Fantasia</option>
                                <option value="novel">Novels</option>
                                <option value="manga">Mangá</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Preço para o formato kindle" min="0" name="kindle_price" id="kindle_price" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Preço para o formato capa dura" min="0"  name="common_price" id="common_price" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Preço para o formato Especial" min="0"  name="special_price" id="special_price" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Unidades em estoque" min="1" name="inventory" id="inventory" class="form-control">
                        </div>
                        <div class="text-center p-5 d-flex align-item-center justify-content-around">
                            <input type="submit" value="cadastrar" class="btn btn-warning">
                            <input type="reset" value="limpar campos" class="btn btn-light border">
                        </div>
                    </form>
                </div>
            </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/admin/product/create.js"></script>
    <script src="/js/admin/index.js"></script>
</body>
</html>