
.rs-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 99%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}
.rs-box .row{
    margin:0px auto 10px auto;
}
h2{
    font-size: 14pt;
    padding: 10px;
    margin: 5px auto auto 5px;
}
input[type="file"]{
    display: none;
}

input[type=number]::-webkit-inner-spin-button { 
    appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#label-file{
box-shadow: 0px 0px 5px rgba(0, 0, 0,.4);
border: 1px solid black;
}

select{
    appearance: none;
    box-shadow: none;
    border: 0!important;
    background: #b4b7c0;
    width: 190px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group input{
    margin: 5px;
    border-radius: 10px;
    border-bottom: 4px solid black;
}
.btn-group .clr:hover{
    border-bottom: 3px solid gold;
}
.btn-group .sbm:hover{
border-bottom: solid 3px greenyellow;
}