
/*header configurações*/

/*se o tamnaho for menor que x entao esconda nav list e mostre o menu drop down*/
@media screen and (max-width : 800px){
    .swap-top{
      display: none;
    }
    .swap-bottom{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (max-width : 280px){
    .avatar-box{
      display: none;
    }
    .box-min-pUser{
      width: auto !important;
    }
    .btn-log{
      width: 120px;
    }

    #search{
      display: none;
    }
    .bt-perfil{
      display: block;
    }
  }


/*ajuste na view biblioteca responsividade*/
@media screen and (max-width: 700px){
    .nav-genero h3 {
        display: none;
    }
    
}
/*perfil de usuario scren*/
/*---- formatação do box-space ---*/
@media screen and (max-width: 780px){
  .box-space{
    height: 0vh !important;
    width: 100%;
  }
  .box-perfil{
    flex-direction: column;
  }
  .side-left{
    width: 100%;
    margin-bottom: 15px;
  }
  .avatar-usuario img{
    display: none;
  }
  .avatar-usuario{
    margin-bottom: 0 !important;
  }
  .menu{
    flex-direction: row !important;
  }
  .side-right{
    width: 100%;
  }
  
}

@media screen and (max-width: 1400px) {
  .paienl_left_adm{
      width: 100%;
  }
  .painel_rigth_adm{
      width: 90%!important;
  }
  .menu_dropdown button{
      width: 200px;
  }
  .menu_dropdown{
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
  }
}

/* prod admin edition */
@media screen and (max-width : 992px) {
  #box-for-prod{
    flex-direction: column;
  }
  #product{
    padding: 5px;
  }
}

/*carousel*/
@media screen and (max-width : 770px) {
  .text-carousel{
    display: none;
  }
  .img-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width : 1200px) {
  .banner{
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
  .banner img{
    height: auto;
    width: 80%;
  }
}
@media screen and (max-width : 770px) {
  .banner{
    height: 420px;
  }
  .banner img{
    height: auto;
    width: 100%;
  }
}
