<div id="form_info_title">
    <div id="div_title_addres">
        <span>Endereço</span>
    </div>
    <div id="div_title_info">
        <span>Informações</span>
    </div>
</div>
<div id="form_information_cart">
    <form id="myForm">
        <div id="content_form_info">
            <div class="p-2" id="form_info_addres">
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="cep" name="cep" placeholder="CEP: 00000-000">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="logradouro" name="road" placeholder="Rua.">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="bairro"  name="district" placeholder="Bairro">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="localidade" name="city" placeholder="Cidade">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="uf" name="state" placeholder="Estado">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="numero" name="number" placeholder="N° Rua.">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control"  id="complemento" name="complements" placeholder="complemento">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-light border"  id="form_info_next">Avançar</button>
                </div>
            </div>
            <div class="p-2" id="form_info_user">
                <div class="form-group mb-3">
                    <input type="text"  name="full_name" id="full_name" placeholder="nome completo" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <input type="email" name="email" id="email" placeholder="Email contato"  class="form-control">
                </div>
                <div class="form-group mb-3">
                    <input type="tel" name="telephone" id="telephone" placeholder="Telefone"  class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="age">Data de Nascimento</label><br>
                    <input type="date"  name="birth_date" id="birth_date"  class="form-control">
                </div>
                <div class="form-group mb-3">
                    <input type="text"  name="user_cpf" id="user_cpf" placeholder="Digite seu CPF"  class="form-control">
                </div>
                <div class="form-group mb-3">
                    <input type="text"  name="user_rg" id="user_rg" placeholder="Digite seu RG" class="form-control">
                </div>
                <div class="text-center pt-3">
                    <button type="button" class="btn btn-light border" id="form_info_prev">Voltar</button>
                    <button type="submit" class="btn btn-light border" id="btn_info_submit">Enviar Cadastro</button>
                </div>
            </div>
            <p class="p-2 text-end">
                <span class="form-close" id="btn_close">Fechar Formulário</span>
            </p>
        </div>
    </form>
</div>