<div id="box_information" class="d-none">
    <div id="body_info_profile">
        <h4 class="text-start">Dados Pessoais</h4>
        <div>
            <table class="table table-hover table-sm">
                <tbody >
                    <tr>
                        <th>Nome Completo</th>
                        <td id="i-name"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td id="i-email"></td>
                    </tr>
                    <tr>
                        <th>Telefone</th>
                        <td id="i-tel"></td>
                    </tr>
                    <tr>
                        <th>Data Nascimento</th>
                        <td id="i-yers"></td>
                    </tr>
                    <tr>
                        <th>Numero do CPF</th>
                        <td id="i-cpf"></td>
                    </tr>
                    <tr>
                        <th>Numero do RG</th>
                        <td id="i-rg"></td>
                    </tr>
                    <tr>
                        <th>Numero do CEP</th>
                        <td id="i-cep"></td>
                    </tr>
                    <tr>
                        <th>Cidade</th>
                        <td id="i-city"></td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td id="i-state"></td>
                    </tr>
                        <tr>
                        <th>Município</th>
                        <td id="i-district"></td>
                    </tr>
                    <tr>
                        <th>Rua / Numero</th>
                        <td id="i-road-n"></td>
                    </tr>
                    <tr>
                        <th>Nome Completo</th>
                        <td id="i-comp"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end m-1" id="information_btn">
                <button type="button" id="put_info" class="btn btn-light">Atualizar dados</button>
                <button type="button" id="del_info" class="btn btn-danger" >Remover dados</button>
            </div>
        </div>
    </div>
    <div id="msg_info_profile" class="text-center d-none msg_profile">
        <h4>Você ainda não registrou dados de endereço em nosso site</h4>
        <p>Precisamos do seu endereço, para poder pro seguir com compras neste site!</p>
        <a href="/user/information" class="btn btn-warning">Adicionar Endereço</a>
    </div>
</div>