<div class="box_tables">
   <div id="box_purchases" class="d-none ">
      <div id="content_payment">
         <h3 class="text-center">Minhas Compras</h3>
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Numero Compra</th>
                  <th>forma de pagamento</th>
                  <th>status pagamento</th>
                  <th>valor</th>
                  <th>entrega</th>
               </tr>
            </thead>
            <tbody id="body_payment"></tbody>
         </table>
      </div>
      <div id="msg_payment" class="text-center d-none msg_profile">
         <h4>Você não tem nenhuma compra registrada no momento!</h4>
         <p>Aproveite os preços iperdíveis do nosso site e compre agora pagando menos!</p>
         <a href="/products/library" class="btn btn-info">Ir as Compras</a>
      </div>
   </div>
</div>