<div>
    <div class="user_adm"></div>
    <div class="menu_dropdown">
        <div class="dropright">
            <button type="button" class="btn_dropdown dropdown-toggle" id="dropdownMenu0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerenciar Produtos</button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenu0">
                <button class="dropdown-item" type="button" id="btn_prodCreate">Adicionar</button>
                <button class="dropdown-item" type="button" id="btn_prodSearch">Pesquisar</button>
            </div>
        </div>
        <div class="dropright">
            <button type="button"class="btn_dropdown dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerenciar Usuários</button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenu1"> 
                <button class="dropdown-item" type="button" id="btn_userCreate">Adicionar</button>
                <button class="dropdown-item" type="button" id="btn_userSearch">Pesquisar</button>
            </div>
        </div>
        <div class="dropright">
            <button type="button"class="btn_dropdown dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatório de Vendas</button>
            <div class="dropdown-menu text-center" aria-labelledby="dropdwonMenu2">
                <button type="button" class="dropdown-item" id="btn_graphics">Gráficos</button>
                <button type="button" class="dropdown-item" id="saleSearch">Buscar Venda</button>
            </div>
        </div>
        <div>
            <button class="btn_dropdown" type="button" id="feedback_msg">Mensagems Feedback</button>
        </div>
    </div>
</div>